.imgUC {    
    opacity: 75%;
}


:root {
    --blanco: #FFFFFF;
    --azulClaro: #3E578E;
    --azul: #184E97;
    --azulOscuro: #11294A;
    --grisClaro: #ECF0F1;
    --gris: #D6DBDF;
    --grisOscuro: #464646;
    --turquesa: #0DBEB0;
    --negro: #121212;
    --negroClaro: #282828;
}

body {
    background-color: var(--blanco);
}

.topbar {
    background-color: var(--blanco);
    color: var(--negro);
    position: relative;
}

.topbar i {
    color: var(--negro);
}

.logo small {
    font-size: 10px;
    display: block;
}

.barraNav {
    background-color: var(--azulClaro);
}

.barraNav .nav-link {
    color: var(--blanco);
}

h1 {
    background-color: #EFF4F7;
    color: #3C4E80;
    height: 80px;
    padding-left: 100px;
}

.breadcrumb {
    background-color: transparent;
    font-size: 1.1rem;
    padding-bottom: 50px;
}

.breadcrumb a {
    text-decoration: none;
    color: #565656;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #3E578E;
}

/* Barra lateral */
.sidebar {
    background-color: var(--blanco);
    border-right: 1px solid var(--azulOscuro);
    min-height: calc(100vh - 56px);
}

.role-box {
    background-color: var(--azulOscuro);
    color: var(--blanco);
    font-size: 14px;
    height: 42px;
}

.btn-nueva-politica {
    background-color: var(--azulClaro);
    color: var(--blanco);
    font-size: 18px;
}

.btn-nueva-politica:hover {
    background-color: var(--azul);
    color: var(--blanco);
}

.btn-ver-politicas {
    background-color: var(--grisClaro);
    display: block;
    margin: 0 auto;
}

.list-politicas li:not(:last-child) {
    border-bottom: 1px solid var(--gris);
    padding: 10px 1rem 10px 1rem;
    margin: 10px -1rem 10px -1rem;
    /*El padre de la lista tiene p-3 de Bootstrap (.p-3 = padding: 1rem; aprox. 8px)
    10px 1rem 10px 1rem; == top right bottom left; == top: 10px right: 1rem bottom: 10px left: 1rem
    Con el margin negativo se saca el li 1rem hacia afuera.
    Con el padding interno se compensa para que el texto no se desalineé.
    Y el borde ocupa todo el ancho.
  */
    margin-bottom: 10px;
}

.list-politicas a {
    color: var(--grisOscuro);
}

.svg-usuario {
    width: 200px;
    fill: var(--grisOscuro);
    opacity: 0.15;
}

.card-option {
    background: var(--blanco);
    border-radius: 14px;
    width: 157px;
    height: 166px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-number {
    background: var(--azulOscuro);
    color: var(--blanco);
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

/* Estilos generales (Mobile First) */
body {
    font-size: 14px;
}

/* Tablets y pantallas medianas */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* Escritorios y pantallas grandes */
@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}

.instituciones {
    background-color: #F1F4F5;
}

.imgInstituciones {
    height: 50%;
}

.footer-links {
    background-color: #353535;
    padding: 5px 0;
    color: white !important;
    text-decoration: none !important;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.btn i {
    color: inherit;
}

/* Filtro */
.bg-light {
    background-color: #dfe3e6 !important;
}

.input-group .btn {
    border-radius: 10px 0 0 10px;
}

.input-group .form-control {
    border-radius: 0 10px 10px 0;
}



.insc-st {
    margin-top: 5%;
}

#root,
*,
body,
html {
    font-family: Helvetica;
}

*,
::after,
::before {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-size: 16px !important;
}

body {
    font-size: 14px !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.bar {
    color: var(--blanco);
    background-image:
        linear-gradient(#1E2E50CC, #1E2E5080), url("/frontend/images/pcfondo.png");
    background-size: 100%;
    background-position: 0 70%;
    font-family: Helvetica;
    text-align: center;
    align-content: center;
    top: 3204px;
    left: 0px;
    width: auto;
    height: 350px;
}

.btnIns {
    background-color: var(--blanco);
    color: #1E2E50;
}

.footer-img {
    max-height: 200px;
}


.titulo-modal {
    color: #3f5b8a;
    font-weight: bold;
}

.descripcion-modal {
    max-width: 700px;
    margin: 0 auto 20px;
    color: #555;
}

.modal-content {
    border-radius: 10px;
}

.form-control {
    background-color: #f5f5f5;
    border-radius: 6px;
}

.btn-inscribirme {
    background-color: #3f5b8a;
    color: white;
    border-radius: 8px;
}

.btn-inscribirme:hover {
    background-color: #2f4770;
}